.article {
    padding-left: 0rem !important;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.article img {
    max-width: 100%;
    border-radius: 12px;
    border: 2px solid #e0e0e0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}

.article a {
    color: #1a73e8;
    font-weight: 500;
    text-decoration: underline;
    transition: color 0.3s;
}

.article a:hover {
    color: #0b51c1;
}

.article p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.article ol, .article ul {
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.article li {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.article h2 {
    padding-left: 0rem !important;
}