@tailwind base;
@tailwind components;
@tailwind utilities;

p{
    margin: 1.5rem;
}

h1{
    font-size: 72px;
    padding-left: 6rem;
}
h2{
    font-size:32px;
    padding-left: 7rem;
}

.light-background {
  background-image: url('./assets/images/cloud-group-left.png'), 
                    url('./assets/images/circles-quarter.png'), 
                    url('./assets/images/circles.png'), 
                    url('./assets/images/cloud-group-right.png');
  background-size: auto, auto, auto, auto;
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat; 
}
@media (max-width: 425px) {
  .light-background {
    background-image:
                    url('./assets/images/circles-quarter.png'), 
                    url('./assets/images/cloud-group-right.png');
    background-size:  45%, 100%;
    background-position: top right, bottom center;
  }
}
@media (min-width: 426px) and (max-width: 1024px) {
  .light-background {
    background-size: 60%, 25%, 30%, 60%;
    background-position: top left, top right, bottom left, bottom right;
  }
}
